
<div class="container container-od" id="odindex">
  <!-- Content here -->
<h1>Start Your Order</h1>
<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @order.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- adjust to number of guests in order model -->

  <div class="field container-fluid">
    <%= f.label :delivery_date, "Delivery Date & Time", placeholder:"Delivery Date & Time" %>
    <div class="form-group col-xs-4">
      <div id="dt-picker" class="input-group date">
        <%= f.text_field :delivery_date, class: "form-control" %>
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#dt-picker').datetimepicker();
        });
    </script>
  </div>
    <div class="field col-xs-4">
    <%= f.label :location, "Delivery Address", placeholder: "Delivery Address" %>
    <%= f.text_field :location, class: "form-control"  %>
  </div>
  <div class="actions"><%= f.submit %></div>

  <%= link_to 'Already Have an Order?', products_path, class: "btn btn-success pull-right"%>


<% end %>
</div>
