<h1>Orders#new</h1>
<div class="container">
  <!-- Content here -->
<h1>Start Your Order</h1>
<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @order.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <!-- adjust to number of guests in order model -->

  <div class="field">
    <%= f.label :delivery_date %>
    <%= f.text_field :delivery_date %>
  </div>
    <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="actions"><%= f.submit %></div>

  <%= link_to 'Already Have an Order?', products_path, class: "btn btn-success pull-right"%>


<% end %>
</div>
